/* GENERAL */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

body{
	background: #FFF;
	color: #000;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight:400;
}

img {
	max-width: 100%;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 800;
}

h1 {
	font-size:1.3em;;
}

h2 {
	font-size:1.3em;;
}

h4 {
	font-size:0.9em;
}

p {
	font-size:1.1em;
	line-height: 1.3em;
}

.strong {
	font-weight: bold;
}
/* LINKS  */
a, a:visited {
	color:#000;
	text-decoration: none;

	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

a:hover, a:active {
	color:#707070;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}


a.button {
	margin-top: -17px;
	font-weight: 500;
  padding: 7px 13px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ff5452;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  text-shadow: -1px 0 0 rgba(0,0,0,0.2);
}

a.button:hover {
	background: #f2504e;
	text-decoration: none;
}




/* LAYOUT  */

/* TRANSLATION TOGGLER */
.translation-toggler span {
	/*margin-top: 15px;*/
	display: inline-block;
	padding-top: 15px;
}

.translation-toggler span:hover {
	cursor: pointer;
}

.active-lang {
	color: #7d7d7d;
}

.translation-toggler .active-lang:hover {
	cursor: default;
}

/* remove this later */
.navbar-nav.es {
	display: none;
}



/* Translated content */
.en:not(.navbar-nav), .es:not(.navbar-nav){
	display: none;
}




/* SITE HEADER */
.page-header {
	display: block;
	position: relative;
	text-align: center;
	width: 100%;
	padding:0px;
	margin: 0 auto;
}

/* NAVIGATION */
.navbar-nav {
	margin: 15px auto;
}

.navbar-nav a {
	text-transform: uppercase;
	color: #000;
	font-size: 1.3em;
	margin: 0 30px;
	text-align: center;
}

.nav-item {
	display: inline-block;
}

.navbar-light .navbar-toggler {
	border: 0;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}


a.nav-item.active,
header a.active {
	pointer-events: none;
	color: #7d7d7d !important;
}


/* mobile nav */
@media screen and (max-width: 998px) {
	.navbar-light .navbar-toggler {
		margin: 15px auto;
	}

}

/* HOME PAGE */
.carousel .carousel-caption {
	background: rgba(0,0,0,0.8);
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 15px 30px;
}

.carousel .carousel-item img {
	min-width: 100%;
}




/* CONTACT PAGE */
#contact .content {
	text-align: center;
}
	#contact iframe {
	width: 100%;
}


/* PUBLICATIONS PAGE */

#publications h1 {
	font-size: 1.5em;
}

#publications h2 {
	font-size: 1.1em;
}

#publications .series-thumbnails {
	margin-bottom: 30px;
}



/* WORK OVERALL PAGE */
#work .series-thumbnail {
	margin-bottom: 30px;
}


/* INDIVIDUAL WORK PAGES */
.project-header {
	margin-top: 30px;
}

.project-header h1, .project-header h2 {
	display: inline-block;
}

.project-header h2 {
	font-weight: 400;
}


/* SERIES */
/* Note the difference between .series-thumbnails and .series-thumbnail (whole section / single item) */
.series-thumbnails {
	margin-top: 30px;
}


.series-thumbnail {
	width: 100%;
	position: relative;
}

.series-thumbnail h3 {
	font-size: 1.1em;
	line-height: 1.3em;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 15px;
	text-align: center;
}

.series-thumbnail img {
	opacity: 1;
}

.series-thumbnail img:hover {
	cursor: pointer;
	/* opacity: 0.3; */

	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

/* position the VIEW PROJECT button */

.series-thumbnail .series-button  {
	display: none;

	text-align: center;
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	text-align: center;
}

.series-thumbnail:hover .series-button {
	display: inline-block;
}


/* expanded */
.series-expanded {
	margin-top: 30px;
	background: #333;
	color: #999;
	padding: 15px 60px 60px 60px;
	position: relative;
}

.series-expanded .close-btn {
	display: block;
	text-align: right;
	width: 100%;
	margin: 15px 0 30px 0;
}

.series-expanded .close-btn:hover {
	cursor: pointer;
}

.series-expanded .series-expanded-navigation {
	position: absolute;
	top: 15px;
}

.series-expanded .series-expanded-navigation .close-btn {
	right: 30px;
	top: 0;
}

.series-expanded .series-expanded-navigation .series-navigation {
	left: 30px;
	top: 0;
}

.series-expanded .series-navigation i{
	background: #555;
	padding: 10px 5px;
}


.series-expanded h3, .series-expanded h4 {
	color: #ccc;
	//display: inline-block;
	text-transform: uppercase;
}


.series-expanded .row-padded-top {
	padding-top: 60px;
}

.series-expanded a {
	color: #eaeaea;
	text-decoration: underline;
}
.series-expanded h3 {
	font-size: 1.5em;
}

.series-expanded h4 {
	font-size: 1.3em;
	margin-bottom: 30px;
}

.series-expanded .col-sm-4 {
	margin-bottom: 15px;
}

/* PROJECT DESCRIPTION */

.project-description {
	margin-top: 30px;
}


.back {
	margin-top: 30px;
}

.back p {
	font-size: 1.1em;
	line-height: 1.3em;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 15px;
}


/* FANCY BOX */

.fancybox-infobar,
.fancybox-toolbar {
	display: none;
}






/*   WRAP - REMOVE THESE LATER */

.WrapContact {
	padding-top: 10px;
}

.WrapTwitterParent {
	width: 100%;
	max-width:800px;
	margin: 0 auto;
	padding-bottom:10px;
}

.WrapTwitterChild {
	margin-left:140px;
	margin-right:100px;
}

.WrapContactForm {
	width: 100%;
	max-width:350px;
	/*max-width:675px;*/
	margin: 0 auto;
	padding-left:20px;
	padding-right:20px;
}

.WrapAboutText{
	width: 92%;
  	max-width:738px;
  	margin: 0 auto;
  	padding-bottom:30px;
}
